* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.body {background-color: #F0F3F3;}

a {text-decoration:none;color:blue}

.banner { background-color: rgb(150, 216, 235);
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.banner > * {
    margin: 0 auto 0 auto;
}

.banner > .title {
	margin:auto auto auto auto ;
    font-size: 50px;
	line-height:50px;
    text-align: center;

}

.banner > #qrcode, .banner > #logo {
    height: 75%;
    margin: auto 35px auto 35px;
}

hr.separator {
    height: 3px;
    background-color: rgb(7, 101, 177);
    border: none;
}

.content { width: 100%; height: 100%;}

.disclaimer { padding: 5px 5px 0 15px; text-align: center;}

@keyframes mon-animation { from {color: yellow;text-align:center;  } to {color: green;text-align:center; }   }
@keyframes grow-shrink {50% { transform: scale(2); }}
@keyframes expand { 50% { word-spacing: 20px; }}


.chapters {
    width: 55%;
    height: 125vh;
    margin: 20px 0px 30px 45px;
	
    
}

.chapters > .summary {text-align: center;width: 100%;padding: 10px 0 20px 0;}

.chapters > ol > li {
	font-size:21px;
    line-height: 25px;
    margin: 10px 30px 30px 80px;
	text-decoration: none;
	
	}
.chapters > ol > li > a {font-size:21px}

.chapters > ol > li > ol {margin: 5px 25px 5px 45px ;font-size:21px;line-height:25px}
.chapters > ol > li > ol > li > a {font-size:21px}
#chapter-delimiter {
    margin: 7px 0 7px 0;
}

.liens {
    display: flex;
    flex-direction: row;
    align-content: space-around;
}
.truc {margin-left:40px;background-color:green; color:red; font:italic}
.misc { width: 45%; height: 125vh; margin: 20px 0px 30px 45px;}

.misc > .summary { text-align: center;width: 100%; padding: 10px 0 20px 0;
}

.misc > ol > li {line-height: 25px;	font-size:21px; margin: 20px 30px 20px 20px;text-decoration: none;}

.misc > ol > li > a {text-decoration: none;}

#chapter-delimiter { font-weight: bold; text-align: center;}

#nav {list-style: none ;  margin: 0 ;  padding: 0 ;  overflow: hidden ;	/* Création du contexte de formatage */}
#nav li {
  float: left ;
  width: 20%;
  font-size:22px;
  border: 1px solid #600 ;
  margin-left:2px;
  margin-right: 1px ;
  color: #fff ;
  background: #4AEDE1 ;
}
#nav li a {
  display: block ;
  background: #4AEDE1 ;
  color: #fff ;
  font: 1em "Trebuchet MS",Arial,sans-serif ;
  line-height: 1em ;
  padding: 4px 0 ;
  text-align: center ;
  text-decoration: none ;
}
#nav li a:hover, #nav li a:focus, #nav li a:active {
  background: #4AEDE1 ;
  text-decoration: underline ;
}

a {font-size: 21px;}
