ol.general-list {
    padding-top: 75px;
    padding-left: 150px;
}

ol {
    padding: 35px 0 25px 55px;
}

li {
    font-size: 18px;
    line-height: 1cm;
}

a {
    text-decoration: none;
    color: rgb(7, 101, 177);
}

p {
    font-size: 20px;
    line-height: 1.2cm;
}

.content {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.content > img {
    width: 518px;
    height: min-content;
    padding: 50px;
}